*.db

*.DS_Store
UnityVS.*
UnityVS/
Library/
Temp/
.vs/
packages/
packages.config
*.csproj
*.unityproj
*.sln
*.userprefs

Unity/ShaderKitchenProject/Library/*

Unity/ShaderKitchenProject/ProjectSettings/*

Unity/ShaderKitchenProject/Assets/SublimeSocketAsset/*

Unity/ShaderKitchenProject/Assets/VSCode/*

Unity/ShaderKitchenProject/.vscode/launch.json


Unity/ShaderKitchenProject/Assets/ShaderKitchen/Editor/Data/data.json

Unity/ShaderKitchenProject/Assets/ShaderKitchen/Editor/Data/data.json.meta


Unity/ShaderKitchenProject/Assets/ShaderKitchen/Editor/ScreenTemp/*

Unity/ShaderKitchenProject/obj/Debug/Assembly-CSharp.dll.mdb

Unity/ShaderKitchenProject/UnidonWeb/*